.content-header {
    position: relative;
}
.bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
}
.header-img {
    width: 100%;
    height: 120%;
    z-index: 0;
}
.top-content {
    z-index: 8;
    text-align: center;
    margin-top: 50px;
}
.bottom-content {
    z-index: 8;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}
.image-content {
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 800px;
    aspect-ratio: 1 / 1;
}
.mission-content {

}
.bottom-content .left-img {
    position: absolute;
    inset: 0;
    z-index: 8;
}
.bottom-content .right-img {
    position: absolute;
    inset: 0;
    z-index: 8;
}
.normal-item {
    font-size: 4vw;
    color: #D9D9D9;
    font-family: "Crimson Text";
}
.transition-item {
    font-size: 12vw;
    color: #D9D9D9;
    font-family: "Crimson Text";
}
.btn-viewbook {
    background-color: #F9D54C !important;
    font-family: "Crimson Text" !important;
    text-transform: uppercase;
    border-radius: 12px;
    margin-top: 50px;
    font-size: 20px;
    padding: 20px 36px;
}
.mission-obj {
    position: relative;
    top: 0;
    width: 40%;
    margin: 0 auto;
}
.mission-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.mission-title {
    font-size: 96px;
    font-family: "Crimson Text";
    text-transform: uppercase;
    color: white;
    z-index: 8;
}
.mission-description {
    font-family: "Crimson Text";
    font-size: 18px;
    line-height: 2;
    text-align: left;
    color: white;
    z-index: 8;
}