.content-header {
    position: relative;
}
.bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
}
.header-img {
    width: 100%;
    height: 120%;
    z-index: 0;
}
.left-content {
    z-index: 8;
    text-align: left;
    margin-top: 200px;
    padding-left: 150px;
    line-height: 6rem;
}
.right-content {
    z-index: 8;
}
.right-content .author-img {
    margin-top: 100px;
    z-index: 8;
}
.normal-item {
    font-size: 108px;
    color: white;
    font-family: "Crimson Text";
}
.transition-item {
    font-size: 128px;
    color: white;
    transform: rotate(-2.5deg);
    font-family: "Leander";
}
.btn-viewbook {
    background-color: #F9D54C !important;
    border-radius: 12px;
    margin-top: 100px;
    font-size: 20px;
    padding: 20px 36px;
}
.mission-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.mission-title {
    font-size: 96px;
    font-family: "Crimson Text";
    text-transform: uppercase;
    color: white;
    z-index: 8;
}
.mission-description {
    font-family: "Crimson Text";
    font-size: 18px;
    line-height: 2;
    text-align: left;
    color: white;
    z-index: 8;
}