.faq-area {
    background-color: black;
    position: relative;
    top: 0px;
}
.roadmap-title {
    font-size: 8vw;
    color: #D9D9D9;
    font-family: "Crimson Text";
    text-transform: uppercase;
}
.team-topeffect {
    position: relative;
    width: 100%;
    display: block;
}
.top-effect-img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.spider-effect {
    position: absolute;
    width: 20%;
    right: 0;
    top: -150px;
    z-index: -1;
}